{% extends "C:\Users\Usuario\Desktop\curso_python_clases\entregas\EntregaFinalRorhamel\Entrega3Rothamel\templates\Pabre.html"%}		
{%load static%}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h3>en progreso</h3>
<a href="{% url 'nuevo_cliente' %}">Completar datos del cliente</a>

{% if miFormulario.errors %}
<p style="color:red;">Están mal los datos, revisar</p>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ miFormulario.as_table }}
    </table>
    <button type="submit">Enviar</button>
</form>
{% endblock %}